---
interface Props {
	href: string;
	variant?: 'default' | 'outline';
}

const { href, variant = 'default' } = Astro.props;
---

<a href={href} class:list={['cta', { outline: variant === 'outline' }]}><slot /></a>

<style>
	.cta {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.56em 2em;
		gap: 0.8em;
		color: var(--accent-text-over);
		text-decoration: none;
		line-height: 1.1;
		border-radius: 999rem;
		overflow: hidden;
		background: var(--gradient-accent-orange);
		box-shadow: var(--shadow-md);
		white-space: nowrap;
	}

	.cta.outline {
		background: transparent;
		border: 2px solid var(--accent-text-over);
		color: var(--accent-text-over);
		box-shadow: none;
	}

	@media (min-width: 20em) {
		.cta {
			font-size: var(--text-lg);
		}
	}

	/* Overlay for hover effects. */
	.cta::after {
		content: '';
		position: absolute;
		inset: 0;
		pointer-events: none;
		transition: background-color var(--theme-transition);
		mix-blend-mode: overlay;
	}

	.cta:focus::after,
	.cta:hover::after {
		background-color: hsla(var(--gray-999-basis), 0.3);
	}

	@media (min-width: 50em) {
		.cta {
			padding: 1.125rem 2.5rem;
			font-size: var(--text-xl);
		}
	}
</style>
