---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';

interface Props {
	leftText?: string
}

const { leftText = 'Interested in working together?' } = Astro.props;
---

<aside>
	<h2>{ leftText }</h2>
	<CallToAction href="mailto:contact@bernhardwittmann.com" variant="outline">
		Send Me a Message
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		padding: 5rem 1.5rem;
		background: var(--gradient-accent);
		border-radius: 1.5rem;
		margin-inline: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 15ch;
		color: var(--accent-text-over);
	}

	@media (min-width: 50em) {
		aside {
			padding: 7.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-inline: 2.5rem;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}
	}
</style>
